.cont_centro {
    border: 1px solid #ccc;
    text-align: center; /* Centrar el contenido horizontalmente */
    background-color: transparent;
    padding: 20px; /* Espaciado interno para el contenido */
}
.centrar-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto centra verticalmente el contenedor */
}

